.container {
  flex: 1;
  overflow: hidden;
}

.messageList {
  height: calc(100vh - 160px);
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* 自定义滚动条样式 */
.messageList::-webkit-scrollbar {
  width: 6px;
}

.messageList::-webkit-scrollbar-track {
  background: transparent;
}

.messageList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.messageList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.messageWrapper {
  @apply flex;
}

.messageWrapperAssistant {
  @apply justify-start;
}

.messageWrapperUser {
  @apply justify-end;
}

.messageCard {
  @apply max-w-[85%] rounded-lg shadow-sm;
}

.messageCardAssistant {
  @apply bg-white;
}

.messageCardUser {
  @apply bg-green-50 !important;
}

.messageContent {
  @apply flex items-start gap-3 ;
}

.messageText {
  @apply flex-1 min-w-0;
}

.messageReasoningTitle {
  @apply text-sm ;
  font-size: 12px;
  line-height: 1.4;
  background-color: #fff;
}

.messageReasoning {
  @apply text-sm text-gray-500;
  font-size: 12px;
  line-height: 1.4;
  background-color: #f0f0f0;
}

.messageTextContent {
  @apply text-sm prose prose-sm max-w-none;
}

.messageTextContent pre {
  @apply bg-gray-50 rounded-md;
}

.messageTime {
  @apply mt-2 text-xs text-gray-400;
}

.loadingWrapper {
  @apply flex justify-center py-4;
} 